{% include 'inc_header.html' %}

      <div class="row">
        <div class="col-lg-12">
				<br>
				<p><button id="qrgenbtn" class='btn btn-primary'>Generate Profile/QRCode</button></p>
		</div>
	  </div>
      <div class="row">
        <div class="col-lg-6">

				<h2>For Registration:</h2>
				<div id="qrcode" class='qrcode'></div>

		</div>
        <div class="col-lg-6">
				<h2>For Testimonials</h2>
				<div id="dogqrcode"></div>
        </div>
      </div>

{% include 'inc_footer.html' %}
